[Unit]
Description=Reflex Backend (for WebSocket /_event)
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/developer
ExecStart=/home/ubuntu/developer/venv/bin/gunicorn --preload --worker-class uvicorn.workers.UvicornH11Worker --bind 0.0.0.0:8000 developer.api:app
Restart=always
Environment=PORT=3000
Environment=PATH=/home/ubuntu/developer/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin


[Install]
WantedBy=multi-user.target